.quiz-detail-page{
    min-width: 100%;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questions-container{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 0.5rem;
}