.menu-row {
    width: 100%;
    padding: 0px 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    color: var(--color-03);
}


.menu-row:hover {
    width: 100%;
    padding: 0px 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    color: var(--color-01);
}