
.button {
    max-width: 20rem;
    min-width: 5rem;;
    border-radius: 15px;
    border: 2px solid white;
    box-shadow: 0.3em 0.5em 0.3em #c3c3c3;
    background-color: var(--infantil-1);
    color: var(--infantil-3);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.7s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 4px;
  }
  
  .button:hover {
    border-radius: 15px;
    box-shadow: 0.3em 0.5em 0.5em var(--infantil-4-tran);
    background-color: var(--infantil-4);
    color: var(--infantil-3);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.7s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 4px;
  }

  .button:focus,
  .button:focus-visible {
    outline: 4px auto rgba(255, 255, 255, 1);
  }
  